<div>
  <form action="">
    <fieldset>
      <legend> Dados Pessoais</legend>
      <input-text></input-text>
      <input-email></input-email>
      <input-data></input-data>
    </fieldset>
    <fieldset>
      <legend> Outras informações</legend>
      <input-sexo></input-sexo>
      <input-uf></input-uf>
    </fieldset>
    <fieldset>
      <legend> Gostos e Hobbies</legend>
      <input-cor></input-cor>   
      <input-hobbies></input-hobbies>
    </fieldset>
    
    
    <input-button></input-button>
  </form>
</div>
